<div class="centered-section">
  <div class="card-graph mdl-card mdl-shadow--2dp">
    <div id="container"></div>
  </div>
</div>

<script>
var chart;
$(function () {
  $('#container').highcharts({
    chart: {
      zoomType: 'xy'
    },
    title: {
      text: '{{request}}'
    },
    tooltip: {
        shared: true,
        crosshairs: true
    },
    xAxis: [{
      labels: {
        format: '{value:%H:%M:%S}',
        data: {{data}},
        rotation: 45,
        align: 'left'
      },
      crosshair: true
    }],
    yAxis: [{ // Primary yAxis
      labels: {
        format: '{value} ms',
        style: {
          color: Highcharts.getOptions().colors[5]
        }
      },
      title: {
        text: 'execution time',
        style: {
          color: Highcharts.getOptions().colors[5]
        }
      }
    }],
    tooltip: {
      shared: true
    },
    series: [{
      name: 'execution time',
      type: 'line',
      tooltip: {
        valueSuffix: ' ms'
      },
      color: Highcharts.getOptions().colors[5]
    }]
  });
  chart = $("#container").highcharts();
});
</script>
